#home.columns.is-clipped
  .column.is-1(style='min-width: 340px')
    div#sidebar
      Sidebar
  .column.section.hero.is-fullheight(align='center')
    .box(align='center' style='max-width: 650px')
      div
        div.is-flex(align='center' style='margin: 0 auto; justify-content: center;')
          div
            figure.image.is-128x128
              img.is-rounded(src="https://image.flaticon.com/icons/svg/145/145867.svg")
          div.is-flex(style='align-items: center;')
            div
              h1 {{user.displayname}}
              p {{user.faculty}} # {{user.ชั้นปี}}
        div
          div
            // .is-flex(style='align-items: center;' align='center')
            figure
              ECharts(
                :options='bar'
                :init-options='initOptions'
                @click='focus($event.name)'
                ref="bar"
                theme="ovilia-green"
                autoresize
              )

          //- div.is-flex(style='align-items: center; justify-content: center;' align='center')
          //-   table.table
          //-     tbody
          //-       tr(v-for='{no, title, grade} in focusSubject')
          //-         td {{grade}}
          //-         td {{no}}
          //-         td {{title}}
      hr
      div
        //- h1 {{gradecounter}}
        h4(style='word-wrap: pre') {{user}}
