.section {
  background: linear-gradient(0.7turn, #3f87a6, #ebf8e1, #f69d3c);
  @media screen and (max-width: 500px) {
    padding: 3rem 0.3rem !important;
  }
}

#profile-icon__wrapper {
  position: absolute;
  right: 5px;
  background-color: white;
  border-radius: 100px;
  padding: 3px;
  bottom: 2px;
  box-shadow: 0.5px 1px 2px 0.7px #aaa;
  width: 30px;
  height: 30px;
}

#sidebar {
  overflow: scroll;
  @media screen and (min-width: 769px) {
    height: 100vh;
    position: fixed;
  }
}
